node_modules/
/typedoc
src
tests
.eslintignore
.eslintrc
.gitignore
.npmignore
.pre-commit-config.yaml
.secrets.baseline
.whitesource
generate_typedoc.sh
jest.config.js 
package-lock.json
tsconfig.json
webpack.config.js
.github/
example/

